<h2>Well Data D3-ified</h2>

<div class="flex-container">
	<header>
		Header
	</header>

	<nav>
		<div id="key"></div>
	</nav>

	<main>
		<div id="chart_container"></div>
	</main>

	<aside>
		Aside Content
	</aside>

	<footer>
		Footer
</footer>
</div>


