body {
	padding: 60px;
	margin: 60px;
}

#chart_container {
	float: left;
  // border: 1px solid black
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #aaaaaa;
  a {
  	color: #555555;
  	&:hover {
  		color: #ffffff
  	}
  }
  small {
  	float: left;
  }
  ul {
  	float: right;
  	list-style: none;
  	li {
  		float: left;
  		margin-left: 15px;
  	}
  }
}

svg {
  // border: 1px solid black;

}

.container {
  margin: 50px;
}

div#key {
  width: 175px;
}

#controls {
  position: absolute;
  margin-top: 20px;
  top: 300px;
  width: 175px;
  /*width: 120px;*/
}








