<footer class="footer">
	<small>
		The <a href="https://en.wikipedia.org/wiki/The_Geysers">Geothermal Well View</a> page.
	</small>
	<nav>
		<ul>
			<li><a href="https://en.wikipedia.org/wiki/The_Geysers">About</a></li>
			<li><a href="https://github.com/ericbooker12">Contact</a></li>
		</ul>
		</ul>
	</nav>
</footer>
