<footer class="footer">
	<small>
		The <a href="https://en.wikipedia.org/wiki/The_Geysers">Geothermal Well View</a> page.
	</small>
	<nav>
		<ul>
			<li><a href="https://en.wikipedia.org/wiki/The_Geysers">About</a></li>
			<li><a href="https://www.linkedin.com/in/eric-booker-29232350">Contact</a></li>
		</ul>
		</ul>
	</nav>
</footer>
