<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<a id="logo" href="/">Well Data D3-ified</a>
		<div class="nav navbar-nav navbar-right" id="menu-items">
			<li><a href="#">Login</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Help</a></li>
		</div>
	</div>
</nav>


